.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 80px;
  @media screen and (max-width: 800px) {
    margin-top: 10px;
    margin-left: 2px;
    width: 93%;
    padding: 0;
    // height: 200px;
  }
}
