.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  padding: 40px;
  box-sizing: border-box;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
  @media only screen and (min-width: 200px) and (max-width: 767px) {
    transition: 0.8s all ease;
    top: 70%;
    width: 99%;
    margin-left: 10px;
    padding-top: 20px;
  }

  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    //Put your CSS here for 768px to 1024px width devices(covers all width between 768px to 1024px //
    transition: 0.8s all ease;
    top: 60%;
    margin-left: 10px;
    width: 95%;
    height: 750px;

    @media only screen and (min-width: 1023px) and (max-width: 1366px) {
      //Put your CSS here for 1024px to 136624px width devices(covers all width between 1024px to 1366px //
      transition: 0.8s all ease;
      top: 55%;
      width: 90%;
      height: 1000px;
    }
  }
  // @media screen and (max-width: 800px) {
  //   top: 70%;
  //   width: 95%;
  //   padding-top: 10px;
  // }
}

.h2 {
  color: #585658;
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
}
.input-field {
  position: relative;
  width: 100%;
  margin-top: 50px;
}
.input-field input,
.input-field textarea {
  width: 100%;
  padding: 5px 0;
  box-sizing: border-box;
  background: transparent;
  border: none;
  border-bottom: 2px solid #666;
  font-size: 14px;
  color: #313031;
  font-weight: 700;
  // text-transform: uppercase;
}
.input-field label {
  position: absolute;
  top: -30px;
  left: 0;
  padding: 5px 0;
  pointer-events: none;
  font-size: 700;
  text-transform: uppercase;
  transition: 0.5s;
}
.input-field input:focus + label,
.input-field textarea:focus + label {
  top: -20px;
  font-size: 14px;
  padding: 2px 5px;
  background: #2e0214;
  color: #fff;
  border-radius: 4px;
}
.btn {
  margin-top: 20px;
  background: #25151c;
  color: #fff;
  padding: 15px 30px;
  border: none;
  outline: none;
  border-radius: 30px;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.5s;
  font-size: 16px;
  float: right;

  &:hover {
    background-color: rgb(232, 232, 238);
    color: black;
    cursor: pointer;
  }
}
